.SideBarCard_main{
   display: flex;
   flex-direction: row;
}

.SideBarCard{
    height: 250px;
    width: 250px;
    /* border: 2px solid greenyellow; */
    
    
}
.SideBarCard_img img {
   height: 220px;
   width: 250px;
   /* border: 2px solid greenyellow */
}
.SideBarCard_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.SideBarCard_content #title{
    font-size: 15px;

}
