/* .ProductDetail{
    display: flex;
    flex-direction: column;
    border: 2px solid blue; 
     margin-left: 100px; 
} */

.ProductDetail_main{
    height: 440px;
    width: 320px;
    /* padding: 0px 120px; */
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    
    
    gap: 10px; 
}
.ProductDetail_img img{
    height: 300px;
    width: 320px;
    border-radius: 2px;
}
.ProductDetail_content{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.ProductDetail_content h3{
   font-family: Lato sans-serif;
   color: rgb(47,12,5);
}
.ProductDetail_detail {
    color: #b2b3b4;
}
.ProductDetail_price{
    font-family: Lato sans-serif;
    font-weight: 700;
}