.Help_Contact{
   background-color: rgb(245,247,249); 
   padding: 50px 100px 50px 100px;

}
/* .Help_Contact1{

} */
.contact{
    display: flex;
    flex-direction: column;
    gap: 13px;
    justify-content: center;
    align-items: center;
}
.contact1{
   font-size: 20px;
   font-weight: 700;
}
.contact2{
    font-size: 43px;
    font-weight: 600;
}
.thin_line{
    height: 1px;
    width: 60px;
    background-color: black;
}
.contact_card{
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.form_contact{
    padding:  70px 40px 100px 40px;  
}